.main-content {
  z-index: 1;
  flex: 1;
  padding: 0rem 4rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(200, 0, 0), rgb(100, 0, 0));
}