.home {
  box-sizing: border-box;
  margin-bottom: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.home-box {
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
}

.movie-box {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
}

.home h2 {
  text-align: left;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.title {
  text-align: left;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.search-form {
  max-width: 600px;
  display: flex;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
}

.surprise-form {
  max-width: 600px;
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
}

.search-box {
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background: linear-gradient(to right, rgb(200, 0, 0), rgb(100, 0, 0));
  color: white;
  font-weight: normal;
  transition: background-color 0.2s;
  white-space: nowrap;
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
}

.search-button:hover {
  background: linear-gradient(to right, rgb(250, 0, 0), rgb(150, 0, 0));
}

.search-button:focus {
  outline: none;
}
