.favourites {
  box-sizing: border-box;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
}

.favourites h2 {
  text-align: left;
  font-size: 1rem;
  color: #ffffff;
}

.favourites-empty {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
}

.favourites-empty h2 {
  font-size: 1rem;
  color: white;
}

.favourites-empty p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}