.navbar {
  box-sizing: border-box;
  z-index: 1;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(200, 0, 0), rgb(100, 0, 0));
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.logo-text:hover {
  color: rgba(255, 255, 255, 0.5);
}

.logo-image {
  max-height: 2rem;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: background-color 0.2s;
  color: white;
}

.nav-link:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
  color: white;
}

.nav-link.active {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
  color: white;
}